*~
*.swp

.\#*
\#*

*.o
*.beam
*.plt

*.DS_Store

erl_crash.dump
rebar3.crashdump
log/

*.coverdata

doc
apps/*/doc
.edts
cover/
.idea/
.vscode/

_build/

apps/xprof_gui/priv/build/*.js.map
apps/xprof_gui/priv/bower_components/
apps/xprof_gui/priv/node_modules/

compile_commands.json

fprofx.*
