{deps,
 [{customized_hdr_histogram, "0.3.2"},
  {lager, "3.2.4"}
 ]}.

{plugins,
 [pc %% port compiler for the tracer nif
 ]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{port_specs,
 [{"priv/nif/xprof_tracer_nif.so", ["c_src/*.c"]}
 ]}.
