{deps,
 [{hdr_histogram, "~> 0.5"}
 ]}.

{erl_opts, [debug_info,
            {platform_define, "^[^R1]", ceil_floor} %% from OTP 20
           ]}.

{plugins,
 [pc %% port compiler for the tracer nif
 ]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{port_specs,
 [{"priv/nif/xprof_tracer_nif.so", ["c_src/*.c"]}
 ]}.
